<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Поиск туров</title>
    <link rel="icon" href="https://drive.google.com/uc?export=view&id=13dCjpWflutbu6-9kRlxFd2BJMQAqAE1D">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Назад</a>
</nav>
<div class="text-center">
    <form method="POST">
        <h2>Поиск</h2>
        <div class="form-group">
            <label>
                <input type="text" name="start" placeholder="From"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="text" name="finish" placeholder="To"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="date" name="date"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="number" name="count" value="0"/>
            </label>
        </div>
        <input type="hidden" name="action" th:value="filter"/>
        <button type="submit" class="btn btn-primary">Найти</button>
    </form>

    <h4 th:text="${FilterErrors}"></h4>
</div>
<div class="text-center">
    <form method="POST">
        <div class="form-group">
            <input type="hidden" name="action" th:value="break"/>
            <button type="submit" class="btn btn-primary">Сбросить</button>
        </div>
    </form>
</div>
<table class="table table-bordered">
    <thead>
    <th scope="col">From</th>
    <th scope="col">To</th>
    <th scope="col">Price</th>
    <th scope="col">Date</th>
    <th scope="col">Count</th>
    </thead>
    <th:block th:each="tour : ${FilteredTours}">

        <tr>
            <th:block th:if="${tour.getCount()!=0}">
                <td th:text="${tour.getStart()}"></td>
                <td th:text="${tour.getFinish()}"></td>
                <td th:text="${tour.getPrice()}"></td>
                <td th:text="${tour.getDate()}"></td>
                <td th:text="${tour.getCount()}"></td>
                <td>
                    <form method="post">
                        <input type="hidden" name="tourId" th:value="${tour.getId()}"/>
                        <input type="hidden" name="action" th:value="view"/>
                        <button type="submit" class="btn btn-primary">View</button>
                    </form>

                </td>
            </th:block>
        </tr>
    </th:block>
</table>
</body>
</html>