<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Создание тура</title>
    <link rel="icon" href="https://drive.google.com/uc?export=view&id=13dCjpWflutbu6-9kRlxFd2BJMQAqAE1D">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Главная</a>
    <a class="navbar-brand" href="/admin">Назад</a>
</nav>
<div class="text-center">
    <form method="POST">
        <h2>Создание</h2>
        <div class="form-group">
            <label>
                <input type="text" name="start" placeholder="From" autofocus="true">
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="text" name="finish" placeholder="To">
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="number" name="price" value="0"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="date" name="date"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="number" name="count" value="0"/>
            </label>
        </div>
        <h2>Описание</h2>
        <div class="form-group">
            <label>
                <input type="text" name="img" placeholder="Image"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                <input type="text" name="text" placeholder="Text"/>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
    <h3 th:text="${tourError}"></h3>

</div>
</body>
</html>